# <center>Python Basics<center/> 
<img height="60" width="120" src="https://www.python.org/static/img/python-logo-large.png?1414305901"></img>

# Table of contents
<br/>
<a href = "#6.-Variables">6. Variables</a><br/>
<a href = "#7.-Data-Types">7. Data Types</a><br/>
<a href = "#8.-Conversion-between-Datatypes">8. Conversion between Datatypes</a>

# 6. Variables

A variable is an alias given to a location in memory that is used to store some data (value).

Each data point stored in the memory is given unique name to differentiate between different memory locations (and thus data points). <br/><b>The rules for writing a variable name is same as the rules for writing identifiers in Python.</b>

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the <b>type</b> of the variable. This is handled internally according to the type of value we assign to the variable.
<br/>
<br/>

### Variable assignements
We use the assignment operator (=) to assign values to a variable

In [0]:
intergerNumber = 4
decimalNumber = 22.2
stringVariable = "StringValue"
print(intergerNumber, decimalNumber, stringVariable)

4 22.2 StringValue

In [0]:
inttt = 4
deci = 4.4
mystr = "jssudha"
print("Types : ", type(inttt))
print("Types : ", type(deci))
print("mystr : ", type(mystr))

Types :  <class 'int'>
Types :  <class 'float'>
mystr :  <class 'str'>

### Multiple assignements
Use comma to seperate the variables and their corresponding values

In [0]:
intergerNumber, decimalNumber, stringVariable = 4, 22.2, "StringValue"
print(intergerNumber, decimalNumber, stringVariable)

4 22.2 StringValue

To initialize multiple variables with same value use 1 assignment

In [0]:
variable1=variable2=variable3 = " All variable assigned same value "
print(variable1,variable2,variable3)

 All variable assigned same value   All variable assigned same value   All variable assigned same value

In [0]:
a=b=c="hello"
print("type : ", type(a))
print("Address of b : ", id(b))

type :  <class 'str'>
Address of b :  140716980366952

### Storage Locations

In [0]:
print(id(intergerNumber))               #print address of variable: 'intergerNumber'

1848031792

In [0]:
print(id(decimalNumber))               #print address of variable: 'decimalNumber'

2582395820504

<b>interger1</b> and <b>interger2</b> points to same memory location in the below example

In [0]:
interger1 = 10
interger2 = 10

print(id(interger1))   
print(id(interger2))

10914784
10914784

In [0]:
a = b = 10
print(id(a), " ", id(b))

10914784   10914784

# 7. Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.
<br/><br/>
Below are few of the commonly used data types<br/>

### Python Numbers

<b>Integers, floating point numbers and complex numbers</b>
falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the <b>type()</b> function to know which class a variable or a value belongs to <br/> and the <b>isinstance()</b> function to check if an object belongs to a particular class.

In [0]:
a=5
print("a : ",a, " type of the a : ", type(a))
print("is a int : ", isinstance(a,int))
print("is a float : ", isinstance(a,float))

a :  5  type of the a :  <class 'int'>
is a int :  True
is a float :  False

In [0]:
data1 = 12                               # integer data type
print(data1, " is of type", type(data1))

5  is of type <class 'int'>

In [0]:
data2 = 12.5                            # float data type
print(data2, " is of type", type(data2))
data2 = 8999999999990322.4569999999973j
print("data3 : ", data2, "type is : ", type(data2))

12.5  is of type <class 'float'>
data3 :  8999999999990322j type is :  <class 'complex'>

In [0]:
data3 = 100 + 20j                          #data type is changed to complex number
print(data3, " is complex number?", isinstance(data3, complex))

(100+20j)  is complex number? True

### Boolean

Boolean represents True or False values

In [0]:
booleanVariable = True                          # 'booleanVariable' is a boolean type & True is a keyword
print(type(booleanVariable))

<class 'bool'>

In [0]:
bbb = False
print("type of the bbb : ", type(bbb))
print("validate whether it is Int : ", isinstance(bbb, int))
print("validate whether it is bool : ", isinstance(bbb, bool))

type of the bbb :  <class 'bool'>
validate whether it is Int :  True
validate whether it is bool :  True

### Python Strings

String is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. <br/>
Multi-line strings can be denoted using triple quotes(single/double), <b>''' or """. </b><br/>

A string in Python consists of a series or <u>sequence of characters</u> - <b>letters, numbers, and special characters.</b>

Strings can be indexed - often synonymously called subscripted as well.

The first character of a string has the index 0.

In [0]:
stringVariable = "This is a string variable"
print('stringVariable is : ',stringVariable)
print('First character in stringVariable is : ',stringVariable[0])

stringVariable is :  This is a string variable
First character in stringVariable is :  T

In [0]:
# Slicing of String variable
print(stringVariable[0:7])
print(stringVariable[:7])
print(stringVariable[5:])

This is
This is
is a string variable

### Python List

List is an <u>ordered sequence</u> of items. It is one of the most used datatype in Python and is very flexible. 

All the items in a list do not need to be of the same type.

Declaring a list is pretty straight forward. Items separated by commas are enclosed within square brackets <b>'[ ]'</b>.

In [0]:
myList = [1, 2.2, "ThirdElement",12,24,"More values"]
print(myList)

[1, 2.2, 'ThirdElement', 12, 24, 'More values']

In [0]:
print(myList[2])                     # Print an element based on its index. Index starts from 0

ThirdElement

Lists are mutable, which means, value of elements of a list can be changed.

In [0]:
myList[2] = "ElementThree"
print(myList)

[1, 2.2, 'ElementThree', 12, 24, 'More values']

In [0]:
myList.remove(2.2)                             # Remove item from a particular index
print(myList)

[1, 'ElementThree', 12, 24, 'More values']

In [0]:
myList.pop(2)                                 # Remove item from a particular index
print(myList)

[1, 'ElementThree', 24, 'More values']

In [0]:
myList.append(2.2)                            # Add item at the last index
print(myList)

[1, 'ElementThree', 24, 'More values', 2.2]

### Python Tuple

Tuple is an <u>ordered sequence</u> of items same as list. <br/>
The only difference is that tuples are <u>immutable</u>. <b>Tuples once created cannot be modified</b>.

Tuples are used to write-protect data and are usually faster than list as it cannot change dynamically.

It is defined within parentheses <b>()</b> where items are separated by commas.

In [0]:
myTuple = (10,20,30,"Text")

In [0]:
print(myTuple[2])                 # Read elements by their corresponding index values

30

In [0]:
myTuple[2] = 120

TypeError: 'tuple' object does not support item assignment

### Python Set

Set is an <u>unordered collection</u> of unique items. <br/>
Set is defined by values separated by comma inside curly braces <b>{ }</b>. <br/>

In [0]:
mySet = {10, 20, 30, 40, 50}
print(mySet)

{40, 10, 50, 20, 30}

In [0]:
mySet = {10, 20, 20, 30, 30}       # Only unique values considered, duplicates removed automatically
print(mySet)

{10, 20, 30}

In [0]:
print(type(mySet))                 # Check the type of the variable

<class 'set'>

In [0]:
print(mySet[0])                    # Cannot print any particular element in a set because 
                                   # it's an unorder collections of items

TypeError: 'set' object does not support indexing

### Python Dictionary

<b>Dictionary</b> is an <u>unordered collection</u> of <b>key-value</b> pairs.

It is generally used when we have a huge amount of data.<br/> 
Dictionaries are optimized for retrieving data. <br/>
We must know the <b>key</b> to retrieve the <b>value</b>.

In Python, dictionaries are defined within curly braces <b>{}</b> <br/>
with each item being a pair in the form <b>key:value</b>. <br/>
<b>Key and value</b> can be of <u>any type</u>.

In [0]:
myDictionary = {'key1': "value1", 'key2': "value2", 'key3': "value3",}
print(myDictionary['key2'])

value2

<b>Update</b> a value in the dictionary

In [0]:
myDictionary['key2'] = "value2.2"
print(myDictionary)

{'key1': 'value1', 'key2': 'value2.2', 'key3': 'value3'}

<b>Add</b> a new key & value

In [0]:
myDictionary["key4"] = "value4"
print(myDictionary)

{'key1': 'value1', 'key2': 'value2.2', 'key3': 'value3', 'key4': 'value4'}

<b>Delete</b> Dictionary Elements

In [0]:
del myDictionary["key2"]
print(myDictionary)

{'key1': 'value1', 'key3': 'value3', 'key4': 'value4'}

# 8. Conversion between Datatypes

To convert between different data types use different type conversion functions like <b>int(), float(), str()</b> etc.

In [0]:
int(5.5)

5

In [0]:
float(5)

5.0

Conversion to and from string must contain compatible values.

In [0]:
str(5)

'5'

In [0]:
str(5.5)

'5.5'

In [0]:
int('5')

5

In [0]:
int('5.5')

ValueError: invalid literal for int() with base 10: '5.5'

In [0]:
float('5.5')

5.5

In [0]:
float('5')

5.0

In [0]:
int('CharIn10')

ValueError: invalid literal for int() with base 10: 'CharIn10'

In [0]:
myNewString = 'text1 '+ 20 + ' text2'

TypeError: must be str, not int

In [0]:
myNewString = 'text1 '+ str(20) + ' text2'
print(myNewString)

text1 20 text2

Convert,<br/>
1> list to set<br/>
2> String to list

In [0]:
# 1> list to set
myList1 = ['a','b','c','c']
print(myList1)
print(type(myList1))
mySet1 = set(myList1)
print(type(mySet1))
print(mySet1)

['a', 'b', 'c', 'c']
<class 'list'>
<class 'set'>
{'c', 'b', 'a'}

In [0]:
# 2> String to list
myString1 = 'This is string to list'
print(type(myString1))

strToList = list(myString1)
print(type(strToList))
print(strToList)

<class 'str'>
<class 'list'>
['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'l', 'i', 's', 't']